<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                   
                    <p>CẢM ƠN BẠN ĐÃ TIN TƯỞNG SỬ DỤNG SẢN PHẨM CỦA CHÚNG TÔI!!!</p>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>DỊCH VỤ KHÁCH HÀNG</h4></div>
                    <ul>
                        <li><a href="#">Chúng tôi</a></li>
                        <li><a href="#">Thông tin giao hàng</a></li>
                        <li><a href="#">Chính sách quyền riêng tư</a></li>
                        <li><a href="#">Điều khoản và Điều kiện</a></li>
                        <li><a href="#">Liên hệ với chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>Tài khoản</h4></div>
                    <ul>
                        <li><a href="#">Tài khoản của tôi</a></li>
                        <li><a href="#">Thương hiệu</a></li>
                        <li><a href="#">Quà tặng</a></li>
                        <li><a href="#">Đặc biệt</a></li>
                        <li><a href="#">Trang Wed</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>Liên hệ chúng tôi</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>TDMU University</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>SĐT</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>letuyen732001@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Your Store © 20xx - <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">Ecommerce Themes</a> Designed by <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">365BOOTSTRAP</a>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="~/Asset/js/product/product.js"></script>